@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.250rem 2.5rem;
  background-color: #351f17;
  box-shadow: 0 0.125rem 0.250rem rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__img {
  height: 11.5rem;
  width: auto;
}

.header__menu__ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.header__menu__a {
  text-decoration: none;
  color: #fcaa5b;
  font-family: 'Anton', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.header__menu__a:hover {
  background-color: #fcaa5b;
  color: #351f17;
  border-radius: 0.2rem 0.5rem;
}

.header__menu__a.active {
  background-color: #fcaa5b;
  border-radius: 0.2rem 0.5rem;
  color: #351f17;
}


.footer {
  background-color: #351f17;
  color: #fcaa5b;
  padding: 2rem 2.5rem;
  font-family: 'Antonio', sans-serif;
}

.footer__container {
  max-width: 87.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer__logo__img {
  height: 17.5rem;
  width: auto;
}

.footer__about {
  max-width: 70rem;
  padding-left: 20.5rem;
}

.footer__slogan {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0 0 0 13rem;
}

.footer__description {
  font-size: 1.4rem;
  text-align: center;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.footer__social__img {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  transition: transform 0.3s ease-in-out;
  fill: #fcaa5b;
}

.footer__icon--facebook:hover {
  background-color: rgba(22, 122, 254, 0.3);
  box-shadow: 0 0 10px rgba(22, 122, 254, 0.5);
  transform: scale(1.5);
}

.footer__icon--twitter:hover {
  background-color: rgba(29, 161, 242, 0.3);
  box-shadow: 0 0 10px rgba(29, 161, 242, 0.5);
  transform: scale(1.5);
}

.footer__icon--instagram:hover {
  background-color: rgba(225, 48, 108, 0.3);
  box-shadow: 0 0 10px rgba(225, 48, 108, 0.5);
  transform: scale(1.5);
}

.footer__copyright {
  width: 100%;
  font-size: 1.4rem;
  border-top: 0.1rem solid #fcaa5b;
  padding-top: 1rem;
  text-align: center;
  margin-top: 2rem;
}